[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
playwright = "*"
psycopg2 = "*"
psycopg = "*"
pytest = "*"
pytest-xprocess = "*"

[dev-packages]

[requires]
python_version = "3.11"
